@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

.white-scrollbar::-webkit-scrollbar {
  width: 5px; /* vertical scrollbar width */
  height: 5px; /* horizontal scrollbar height */
}

.white-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 9999px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.white-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #e5e5e5; /* lighter gray on hover, change to any color you like */
}

.white-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* track color */
}
